$_color-one: #656980;
$_color-two: #FFFFFF;
$_color-navigation:#FFFFFF;
$_color-header-border:#BABBC5;
$_color-title:#FFFFFF;
$_color-header-text:#FFFFFF;
$_color-header-button:#FF4343;
$_color_hover-header-navigation:#BABBC5;
$_color_active-header-navigation:#E71414;
$_color-header-button:#FFFFFF;
$_background-header-button:#FF4343;
$_background_hover-header-button:#E71414;
$_background_active-header-button:#FF4343;
$_color-icons:#e60a0a;
$_color-icons-text:#6C7279;
$_color-img-border:#FFFFFF;
$_color-cards-job:#FF4343;
$_color-cards-text:#6C7279;
$_color-cards-icons:#C6CBCD;
$_color-cards-border:#C6CBCD;
$_background-about:#353C65;
$_color-about-title:#FFFFFF;
$_color-about-text:#FFFFFF;
$_color-about-icons:#C6CBCD;
$_background-footer:#2C3154;
$_color-footer:#6C7279;
$_color-footer-extra:#FFFFFF;
$_background-download-button:#FF4343;
$_background_hover-download-button:#E71414;
$_background_active-download-button:#FF4343;
$_color-download-button:#FFFFFF;
$_background-swiper:#5C3249;
$_color-swiper:#FFFFFF;